.hero {
  text-align: center;

  padding: 5rem 2rem;
}

.hero h1 {
  font-size: 3rem;

  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;

  margin-bottom: 2rem;
}

button {
  padding: 12px 24px;

  border: none;

  border-radius: 8px;

  background-color: #2563eb;

  color: white;

  cursor: pointer;
}

.descripcion {
  text-align: center;

  padding: 5rem 2 rem;
}

.descripcion h1 {
  font-size: 3rem;
}

.descripcion p {
  font-size: 1.2rem;
}

.categorias {
  text-align: center;
}


.funcionamiento {
  text-align: center;
}

.funcionamiento h1{
  font-size: 3rem;
}

.funcionamiento nav {
  display: flex;

  gap: 1rem;
}

.funcionamiento nav a{
  color: rgb(0,255,0);
  text-decoration: none;
}

.funcionamiento nav a:hover {
  color: #38bdf8;
}